<h1>Search for Flickr user's photos:</h1>

<%= form_with method: "get" do %>
  <div>
    <%= label_tag :flickr_user_id, "Flickr user's ID: " %>
    <%= text_field_tag :flickr_user_id %>
  </div>
  <%= submit_tag "Show me this user's photos" %>
<% end %>

<% if @photo_urls.nil? %>
    <p>Photos will appear here</p>
<% elsif @photo_urls.empty? %>
    <% if @user_not_found %>
      <p>User not found</p>
    <% else %>
      <p>No photos found</p>
    <% end %>
<% else %>
    <% n = 0 %>
    <% @photo_urls.each do |url| %>
      <% n += 1 %>
      <%= image_tag url %>
    <%end%>
<%end%>